In [1]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('npr.csv')
df

                                               Article
0    In the Washington of 2016, even when the polic...
1      Donald Trump has used Twitter  —   his prefe...
2      Donald Trump is unabashedly praising Russian...
3    Updated at 2:50 p. m. ET, Russian President Vl...
4    From photography, illustration and video, to d...
..                                                 ...
195  Mothers should feel comfortable   infants in p...
196  In South Korea, preparing for the worst has be...
197  David Bowie had long wanted to make a record w...
198  Chances are your doctor has stopped taking not...
199  French police have reportedly arrested more th...

[200 rows x 1 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Article  200 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

In [4]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
wnl=WordNetLemmatizer()

In [5]:
#remove punctuations
#remove stopwords
#stemming/lemmatizing

corpus=[]
for i in range(len(df)):
    rp=re.sub('[^a-zA-Z]'," ",df['Article'][i])
    rsw=rp.lower()
    rsw=rsw.split()
    rsw=[wnl.lemmatize(word) for word in rsw if word not in set(stopwords.words('english'))]
    rsw=" ".join(rsw)
    corpus.append(rsw)

In [6]:
#vectorization 
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x=cv.fit_transform(corpus)

In [7]:
# Modelling Using LDA
from sklearn.decomposition import LatentDirichletAllocation
model=LatentDirichletAllocation(n_components=5)
model.fit(x)

LatentDirichletAllocation(n_components=5)

In [8]:
topic_result=model.transform(x)

In [9]:
topic_result[0]

array([2.94821824e-04, 2.96492748e-04, 2.95057538e-04, 2.96604919e-04,
       9.98817023e-01])

In [10]:
topic_result[0].argmax()

4

In [11]:
#combining with original data
df['group']=topic_result.argmax(axis=1)

In [12]:
df.head()

                                             Article  group
0  In the Washington of 2016, even when the polic...      4
1    Donald Trump has used Twitter  —   his prefe...      4
2    Donald Trump is unabashedly praising Russian...      4
3  Updated at 2:50 p. m. ET, Russian President Vl...      4
4  From photography, illustration and video, to d...      1

In [13]:
for index,topic in enumerate(model.components_):
    print(f'top 10 word for topic #{index}')
    print([cv.get_feature_names()[i] for i in topic.argsort()[-10:]])
    print('\n')

top 10 word for topic #0
['woman', 'think', 'country', 'college', 'marine', 'time', 'like', 'new', 'year', 'say']


top 10 word for topic #1
['time', 'new', 'student', 'school', 'like', 'one', 'said', 'year', 'people', 'say']


top 10 word for topic #2
['state', 'new', 'child', 'many', 'time', 'people', 'diet', 'year', 'one', 'say']


top 10 word for topic #3
['way', 'think', 'could', 'thing', 'time', 'people', 'year', 'one', 'like', 'say']


top 10 word for topic #4
['election', 'would', 'also', 'house', 'russia', 'republican', 'obama', 'president', 'said', 'trump']